<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>My toDo App</span>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="space-around">
<mat-card >
  <mat-card-content>
    <mat-card-title>Your To Dos</mat-card-title>
    <mat-list *ngFor="let i of listOfTasks">
      <mat-list-item >
        <div [routerLink]="['/task/',i.taskId]">{{i.title}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<div fxFlex="2 1 auto">
  <router-outlet></router-outlet>
</div>
</div>

